.page {
    display: flex;
    flex-direction: column;
    padding: 2%;
    font-family: 'Lucida Sans';
}

.titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}

.title {
    display: flex;
    color: rgb(0, 59, 40);
    font-size: 20px;
    padding: 2%;
    border: 4px solid black;
}

.parents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    border: 4px solid black;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    border: 4px solid black;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    border: 4px solid black;
}
